/*= fim estrutura ================*/

html, body {
    height: 100%;
}

.section {
    margin-top: 30px;
    padding-bottom: 30px;
}

.wrapper {
    height: 100%;
}

.nanobar {
    width: 100%;
    height: 3px;
    z-index: 9999;
    top: 0
}

.bar {
    width: 0;
    height: 100%;
    transition: height .9s;
    background: #ffc624;
}

/*forms*/
.invalid-feedback {
    display: inline-block;
}

button {
    cursor: pointer;
}

/*form validation*/
.form-group.form-group-invalid label {
    color: #dc3545;
}

.form-group.form-group-invalid input {
    border-color: #dc3545;
}

/*fim forms*/

/*cards*/

.card {
    margin: 0 0 0px;
    border: 0;
    background: #fff;
    border-radius: 2px;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, .1);*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-padding {
    padding: 15px;
}

/*fim cards*/

/*breadcrumb*/

.breadcrumb {
    padding: 0;
    background-color: #fafafa;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #FFC107;
    content: " » ";
}

/*fim breadcrumb*/


/*toasts*/
.cxlt-toastr-container {
    width: 100%;
}

.cxlt-toastr-container .toast {
    width: 100%;
    padding: 8px;
}

.cxlt-toastr-container.toast-top-right {
    /*top: 70px;*/
    top: inherit;
    bottom: 0;
    right: 0;
    width: 100%;

    position: fixed;
    z-index: 999999;
    pointer-events: none;

}

.toast-success {
    background-color: #5fa764;
}

.cxlt-toastr-container .toast.toast-success,
.cxlt-toastr-container .toast.toast-error {
    background-image: none !important;
}

.toast-error {
    background-color: #dc3545;
}

@media (min-width: 992px) {

    .cxlt-toastr-container {
        width: auto;

    }

    .cxlt-toastr-container .toast {
        width: 300px;
        padding: 8px;
    }

    .cxlt-toastr-container.toast-top-right {
        top: 70px;
    }

    .cxlt-toastr-container.toast-top-right {
        top: 70px;
        right: 12px;
        width: auto;
        bottom: auto;

        /*pointer-events: none;*/
    }
}

/*fim toaster*/

/*printing*/



@media print {
    /*html, body {*/
        /*width: 210mm;*/
        /*height: 297mm;*/
    /*}*/
    body {
        background-color: #fff;
    }
    body * {
        visibility: hidden;
    }
    section.section {
        visibility: visible;
        margin: 0 auto;
        padding: 0;
    }
    section.section * {
        visibility: visible;
    }
    .no-print {
        visibility: hidden !important;
    }
}